.text-center {
  text-align: center;
}

.forms {
  background-color: rgb(121, 121, 121);
  box-shadow: 0px 0px 4px 4px #6b6b6b21;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin: 20px auto;
  gap: 10px;
  padding: 10px 15px; 
  width: 374px;
  color: white;
}

.forms input, .forms button {
  border-radius: 6px;
  border: none;
  padding: 10px;
}

.forms button {
  margin-top: 20px;
}

.forms button:hover {
  cursor: pointer;
  background-color: rgb(211, 211, 211);
}

#link-forms {
  color: white;
  text-decoration: none;
}

.main-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1024px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header button {
  background-color: darkgray;
  color: white;
  border-radius: 6px;
  border: none;
  margin: 30px 5px;
  width: 80px;
  padding: 10px;
}

.header button:hover {
  cursor: pointer;
  background-color: rgb(211, 211, 211);
}

.text-danger {
  color: red;

}

.m-auto {
  text-align: center;

}